/*Menu*/

.menu_list {
    display: none;
}



.menu__button {
   padding: 0 auto;
   
}

.menu__icon {
    height: 12px;
    width: 32px;
    padding:19.5px 24px;
    
}


.menu__link {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}






.menu__lentrance__link {
    display: none;
}