/*Vacancies*/


.list__vacancies {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding:0;
    margin-top: -5px;
    align-items: center;
}
.vacancies__item {
    list-style-type: none;
    border-radius: 20px;
    background-color: white;
    width: 295px; ;
    height: 300px ;
    padding:24px;
}
.vacancies__link {
    text-decoration: none;
}
.who__is {
    line-height: 30px;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: SuisseIntl-Regular,sans-serif;
    color: #0a0a0a;
    text-align: left;
    margin-top: -10px;
}
.directions__companies {
    display: flex;
    padding-top: 8px;
    justify-content: left;   
    padding-left: 0px;
}
.direction__{
    list-style-type: none;
    font-size: .75rem;
    font-family: SuisseIntl-Regular,sans-serif;
    color:black;
    background-color: #b5ddc9;
    padding: 3px 6px;
    border-radius: 5px;
    margin: 0 5px;
    line-height: 1;


}
.company__terms {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 0px;
    
    
    

}
.terms{
    list-style-type: none;
    font-family: SuisseIntl-Regular,sans-serif;
    color:#6a6a6a;
    text-align: left;
    padding-bottom: 5px;
    
}
.about__us {
    -webkit-line-clamp:3;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    overflow:hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #6a6a6a;
}